body {
    background-color: #ffe8e1;
}

img {
    max-width: 100%;
    height: auto;
}

.toppics-container {
    display: block;
}

ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 20px;
}

.planpics-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.planpics2-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (max-width: 750px) {
    .logo {
        border-radius: 30px;
        max-width: 100%;
        height: auto;
    }
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #eea793;
}
